*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}
.div_0{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.div_1{
  width: 55%;
  padding: 40px;
}
h3{
    margin-left: 40px;
}
p{
    text-align: justify;
    margin-left: 40px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 40px;
    color: rgb(38, 0, 255);
    font-weight: 800;
    background-image: linear-gradient(rgb(208, 255, 0) ,tomato);
    border-radius: 5px;
    
}
.div_2{
   width: 45%;
   float: left;
}
.div_2 img{
    width: 90%;
    height: 90%;
    padding: 2px;
}
h1{
    font-size: 50px;
    margin-left: 40px;
}
.first_h1{
    color: aqua;
}
.fist_span{
    color: darkslateblue;
}
.div_01{
    
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flex{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;    
   
   
    
}
.flex_1{
    width: 40%;
    height: 300px;
    text-align: center;
    border-left: solid 8px;
    border-image: linear-gradient(red,yellow, green) ;
    border-image-slice: 1;
    border-radius: 10px;
    margin: 60px;
    padding: 2px;
    box-shadow: 5px 10px 50px red;
    
}
.flex_1 h1{
    font-size: 39px;
    padding-bottom: 5px;
   
}
.flex_2{
    width: 40%;
    height: 300px;
    text-align: center;
    border-left: solid 8px;
    border-image: linear-gradient(green,rgb(25, 0, 255), red) ;
    border-image-slice: 1;
    border-radius: 10px;
    box-shadow: 20px 30px 50px green;
    margin: 60px;
    padding: 2px;
    
}
.flex_2 h1{
    font-size: 39px;
   
}
footer h4{
    text-align: center;
    text-shadow: 2px;
    margin-top: 75px;
    margin-bottom: 10px;
}